<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs', { stylesheets: ['cart', 'form_elements'], scripts: [{"name": "cart", "defer": true}], page_name: "Cart" }) %>

    <body>
        <%- include('partials/navbar.ejs', {logged_in}) %>
            <main>
                <% if(cart.length){ %> 
                <h1 class="cart_text">Your Cart</h1>
                <a href="/search" class="back_to_search">Search Products</a>
                <table>
                    <thead>
                        <tr>
                            <th class="image_col"></th>
                            <th>Description</th>
                            <th>Make</th>
                            <th>OE Number</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th class="total_col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let subtotal = 0; cart.forEach(part=>{ %> 
                        <% let price_string = `${parseInt(part.price / 100).toString()}.${part.price%100 < 10 ? `0${part.price%100}`: part.price%100}`%> 
                        <% let image_string = `${part.make}-${part.oe_number}` %>
                        <tr class="part">
                            <td><img id= '<%= `image-${part.id}` %>' src="/img/parts/<%= image_string + ".jpg" %> " onerror="image_onerror( <%= part.id %>, '<%= image_string %>')"></td>
                            <td>
                                <%= part.description %> 
                            </td>
                            <td><%= part.make.toUpperCase() %> </td>
                            <td><%= part.oe_number %> </td>
                            <td class="unit_price"><%= `$${price_string}`;%> </td>
                            <td>
                                <input type="number" name="<%=part.id%>" id="" min="1" value="<%= part.quantity %>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16" onclick="deletePart(this, '<%= part.id %>')">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                            </td>
                            <td class="total">$<% let total_price = (part.price * part.quantity) %> <%= `${parseInt(total_price / 100)}.${total_price%100 < 10 ? `0${total_price%100}`: total_price%100}` %> </td> 
                            <% subtotal += part.price * part.quantity %>
                        </tr>
                        <% }) %> 
                    </tbody>
                </table>
                <div class="buttons">
                    <h4 class="subtotal">Subtotal: $<%= `${parseInt(subtotal / 100)}.${subtotal%100 < 10 ? `0${subtotal%100}`: subtotal%100}`%> CAD</h4>
                </div>
                <div class="order_options">
                    <h3>Delivery:</h3>
                    <div>
                        <input type="radio" name="delivery" id="Delivery" value="Delivery">
                        <label for="Delivery">Delivery</label>
                    </div>
                    <div>
                        <input type="radio" name= "delivery" id="Pickup" value="Pickup">
                        <label for="Pickup">Pickup</label>
                    </div>
                </div>
                <div class="order_options">
                    <h3>PO Number (required):</h3>
                    <div>
                        <input type="text" id="po_number">
                        <p id="required" style="display: none; color: red">This field is required</p>
                    </div>
                </div>
                <textarea name="" id="" cols="30" rows="10" placeholder="Order Comments"></textarea>
                <div class="buttons">
                    <!-- <button id="save_cart">Save Changes</button> -->
                    <button id="place_order">Place Order</button>
                </div>
                <% } else{ %> 
                    <h1 class="cart_text">Cart is empty</h1>
                    <a class="back_to_search" href="/search">Continue searching for products</a>
                <% } %> 
            </main>
            <%- include("partials/footer.ejs") %>
    </body>

</html>