<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header.ejs', { stylesheets: ['login', "form_elements" ], scripts: [{name: 'login' , defer:
        false}], page_name: "Reset Password" }) %>

<body>
    <%- include('partials/navbar.ejs', {"logged_in": logged_in})%>
        <main>
            <div class="form_background">
                <h1>Reset Password</h1>
                <% if(typeof errors!='undefined' ) { %>
                    <% errors.forEach(function(error){ %>
                        <p class='error_message'>
                            <%= error.msg %>
                        </p>
                    <% }) %>
                <% } %>

                <form onsubmit="form_submit()" action="/reset_password" id="regform" method="POST">
                    <div class="input">
                        <input name="email" value= "<%=user||""%>" placeholder=" ">
                        <label for="email"><span>Email</span></label>
                    </div>
                    <button type="submit"> Reset Password </button>
                </form>
            </div>
        </main>
        <%- include("partials/footer.ejs") %> 
</body>

</html>